*.js
!jest.config.js
*.d.ts

# CDK asset staging directory
.cdk.staging
cdk.out

# dependencies
node_modules

# sst
.sst
.build

/vendor

# opennext
.open-next

# misc
.DS_Store

# local env files
.env*.local
.env